<div *ngIf="consultant">
  <div class="contours" id="infos">
    <mat-card-title>Informations personnelles</mat-card-title>
      <mat-card-content>
        <form [formGroup]="grp">
          <table class="inputable">
            <tr>
            <td><app-firstname-input
              (sendCtrl)="addCtrl(FIRSTNAME_KEY, $event)"
              (valueChange)="valueChange(FIRSTNAME_KEY)"
              [initialValue]="consultant[FIRSTNAME_KEY]"
              [required]="true">
            </app-firstname-input></td>
            <td><app-lastname-input
              (sendCtrl)="addCtrl(LASTNAME_KEY, $event)"
              (valueChange)="valueChange(LASTNAME_KEY)"
              [initialValue]="consultant[LASTNAME_KEY]"
              [required]="true">
            </app-lastname-input></td>
          </tr>
          <tr>
            <td><app-email-input 
              (sendCtrl)="addCtrl(EMAIL_KEY, $event)"
              (valueChange)="valueChange(EMAIL_KEY)"
              [initialValue]="consultant[EMAIL_KEY]"
              [required]="true">
            </app-email-input></td>
            <td><mat-form-field>
              <mat-label>Années d'expérience</mat-label>
              <input matInput type="number"
                [formControlName]="XP_KEY" (change)="valueChange(XP_KEY)">
              <mat-error>{{getErrorTxt(XP_KEY)}}</mat-error>
            </mat-form-field></td>
          </tr>
        </table>
      </form>
      </mat-card-content>
    </div>
    <div class="contours">
      <mat-card-title>Formation</mat-card-title>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let diploma of consultant.diplomas; let i = index">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>{{diploma.entitled}}</span> {{diploma.year}}
              </mat-panel-title>
            </mat-expansion-panel-header>
          <app-diploma-edit
            [diploma]="diploma" 
            [consultant]="consultant.id"
            (deletion)="consultant.diplomas.splice(i, 1)">
          </app-diploma-edit>
          </mat-expansion-panel>
        </mat-accordion>
        <div *ngIf="showNewDiploma; then newDiplomaForm else newDiplomaButton"></div>
      </mat-card-content>
    </div>
    <div class="contours" [class.manager-gone-background]="!managerIsActive()">
      <mat-card-title>Manager</mat-card-title>
      <mat-card-content>
        <app-consultant-manager [consultant]="consultant" (managerChange)="updateManager($event)"></app-consultant-manager>
      </mat-card-content>
    </div>
</div>

<ng-template #newDiplomaForm>
  <app-diploma-edit
  [new]="true" 
  [consultant]="consultant.id"
  (reload)="reload.emit()"></app-diploma-edit>
</ng-template>

<ng-template #newDiplomaButton>
  <button mat-button color="primary" (click)="showNewDiploma = true">
      Ajouter un nouveau diplôme
  </button>
</ng-template>