<div *ngIf="consultant">
  <mat-card id="infos">
    <mat-card-title>Informations personnelles</mat-card-title>
      <mat-card-content>
        <table class="inputable">
          <tr>
          <td><app-firstname-input
            (sendCtrl)="addCtrl(FIRSTNAME_KEY, $event)"
            (valueChange)="valueChange(FIRSTNAME_KEY)"
            [initialValue]="consultant[FIRSTNAME_KEY]"
            [required]="true">
          </app-firstname-input></td>
          <td><app-lastname-input
            (sendCtrl)="addCtrl(LASTNAME_KEY, $event)"
            (valueChange)="valueChange(LASTNAME_KEY)"
            [initialValue]="consultant[LASTNAME_KEY]"
            [required]="true">
          </app-lastname-input></td>
        </tr>
        <tr>
          <td><app-email-input 
            (sendCtrl)="addCtrl(EMAIL_KEY, $event)"
            (valueChange)="valueChange(EMAIL_KEY)"
            [initialValue]="consultant[EMAIL_KEY]"
            [required]="true">
          </app-email-input></td>
          <td><app-xp-input
            (sendCtrl)="addCtrl(XP_KEY, $event)"
            (valueChange)="valueChange(XP_KEY)"
            [initialValue]="consultant[XP_KEY]">
        </app-xp-input></td>
        </tr>
      </table>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Formation</mat-card-title>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let diploma of consultant.diplomas; let i = index">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{diploma.entitled}}
              </mat-panel-title>
            </mat-expansion-panel-header>
          <app-diploma-edit
            [diploma]="diploma" 
            [consultant]="consultant.id"
            (deletion)="consultant.diplomas.splice(i, 1)">
          </app-diploma-edit>
          </mat-expansion-panel>
        </mat-accordion>
          <div *ngIf="showNewDiploma; then newDiplomaForm else newDiplomaButton"></div>
      </mat-card-content>
    </mat-card>
    <mat-card [class.manager-gone-background]="consultant.manager.releaseDate!=null">
      <mat-card-title>Manager</mat-card-title>
      <mat-card-content>
        <app-consultant-manager [consultant]="consultant" (managerChange)="updateManager($event)"></app-consultant-manager>
      </mat-card-content>
    </mat-card>
</div>

<ng-template #newDiplomaForm>
  <app-diploma-edit
  [new]="true" 
  [consultant]="consultant.id"
  (reload)="sendReload()"></app-diploma-edit>
</ng-template>

<ng-template #newDiplomaButton>
  <button mat-button color="primary" (click)="showNewDiploma = true">
      Ajouter un nouveau diplôme
  </button>
</ng-template>