#firstRow {
    display: flex;
}

#infos {
    flex: 3 1 auto;
}

#xp {
    flex: 1 1 auto;
}
mat-card { margin: 10px; }



.manager-gone-background{
    background-color:orange;
    animation-name: alert;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes alert {
    0%   {background-color: orange;}
    50%  {background-color: white;}
    100% {background-color: orange;}
}

mat-expansion-panel{
    background-color: whitesmoke;
    box-shadow: none !important;
}

mat-expansion-panel:hover{
    margin-top: 10px;
    margin-bottom: 10px;
}

.title{
    color: #008BD2;
    font-weight: bolder;
    padding-right: 10px;
}
