<mat-list *ngIf="!!consultant">
  <mat-list-item>
    <h1 matLine>Prénom</h1>
    <p matLine>{{consultant[FIRSTNAME_KEY]}}</p>
  </mat-list-item>
  <mat-list-item>
    <h1 matLine>Nom</h1>
    <p matLine>{{consultant[LASTNAME_KEY]}}</p>
  </mat-list-item>
  <mat-list-item>
    <h1 matLine>Adresse email</h1>
    <p matLine>{{consultant[EMAIL_KEY]}}</p>
  </mat-list-item>
  <mat-list-item>
    <h1 matLine>Niveau d'expérience</h1>
    <p matLine>{{getXpToText()}}</p>
  </mat-list-item>
    <div *ngIf="consultant[RELEASE_DATE_KEY]; then releaseDate else manager"></div>
    <mat-list-item  *ngIf="consultant.diplomas?.length > 0">
      <h1 matLine>Diplômes</h1>
      <mat-list matLine>
        <mat-list-item *ngFor="let diploma of consultant.diplomas; let i = index">
          <h1 matLine>{{diploma.entitled}}</h1>
          <p matLine><b>Etablissement d'obtention :</b> {{diploma.establishment}}</p>
          <p matLine><b>Niveau :</b> {{diploma.level}}</p>
          <p matLine><b>Année d'obtention :</b> {{diploma.year}}</p>
        </mat-list-item>
      </mat-list>
    </mat-list-item>
</mat-list>

<ng-template #releaseDate>
  <mat-list-item>
    <h1 matLine>Date de sortie des effectifs</h1>
    <p matLine>{{consultant[RELEASE_DATE_KEY] | date:'dd/MM/yyyy'}}</p>
  </mat-list-item>
</ng-template>

<ng-template #manager>
  <mat-list-item>
    <h1 matLine>Manager</h1>
    <p matLine>{{consultant.manager[FIRSTNAME_KEY]}} {{consultant.manager[LASTNAME_KEY]}}</p>
  </mat-list-item>
</ng-template>
