<mat-list *ngIf="version">
  <mat-list-item>
    <h1 matLine>Intitulé de la mission</h1>
    <p matLine>{{version.title || 'Non renseigné'}}</p>
  </mat-list-item>
  <mat-list-item>
    <h1 matLine>Role du consultant</h1>
    <p matLine>{{version.consultantRole || 'Non renseigné'}}</p>
  </mat-list-item>
  <mat-list-item>
    <h1 matLine>Expérience du consultant au début de la mission</h1>
    <p matLine>{{getConsultantStartXpToString()}}</p>
  </mat-list-item>
  <mat-list-item>
    <h1 matLine>Description de la mission</h1>
    <p matLine>{{version.description || 'Pas de description'}}</p>
  </mat-list-item>
  <mat-list-item>
    <h1 matLine>Emplacement de la mission</h1>
    <p matLine>{{getLocalisationToString()}}</p>
  </mat-list-item>
  <mat-list-item>
    <h1 matLine>Type de contrat</h1>
    <p matLine>{{getContractTypeToString()}}</p>
  </mat-list-item>
  <mat-list-item>
    <h1 matLine>Taille de l'équipe</h1>
    <p matLine>{{getContractTeamSizeToString()}}</p>
  </mat-list-item>
  <mat-list-item>
    <h1 matLine>Commentaire du client / manager</h1>
    <p matLine>{{version.comment || 'Aucun commentaire'}}</p>
  </mat-list-item>
</mat-list>
