<h1 mat-dialog-title>{{!!user ? 'Modification du' : 'Nouveau'}} mot de passe</h1>
<mat-dialog-content>
  <form [formGroup]="grp" (keyup.enter)="canSubmit() && onSubmit()" (keydown.enter)="$event.preventDefault()"> 
    <table class="inputable">
      <tr><td><mat-form-field *ngIf="!!user">
        <mat-label>Mot de passe actuel</mat-label>
        <input matInput [type]="hiddenCurrent ? 'password' : 'text'" [formControlName]="CURRENT_KEY" maxlength="16" required>
        <button mat-icon-button matSuffix (click)="hiddenCurrent = !hiddenCurrent">
          <mat-icon>{{hiddenCurrent ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="!grp.controls[CURRENT_KEY].valid && grp.controls[CURRENT_KEY].touched">
          Votre mot de passe actuel doit être renseigné.
        </mat-error>
      </mat-form-field></td></tr>
      <tr><td><mat-form-field>
          <mat-label>Nouveau mot de passe</mat-label>
          <input matInput [type]="hiddenNew ? 'password' : 'text'" [formControlName]="NEW_KEY" maxlength="16" required>
          <button mat-icon-button matSuffix (click)="hiddenNew = !hiddenNew">
            <mat-icon>{{hiddenNew ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="!grp.controls[NEW_KEY].valid && grp.controls[NEW_KEY].touched">
            {{getErrorText(NEW_KEY)}}
          </mat-error>
        </mat-form-field></td></tr>
      <tr *ngIf="hiddenNew"><td><mat-form-field>
          <mat-label>Confirmation du nouveau mot de passe</mat-label>
          <input matInput type="password" [formControlName]="CONFIRMATION_KEY" maxlength="16" required>
          <mat-error *ngIf="!grp.controls[CONFIRMATION_KEY].valid && (grp.controls[CONFIRMATION_KEY].touched || grp.controls[NEW_KEY].touched)">
            Le nouveau mot de passe et sa confirmation sont différents.
          </mat-error>
      </mat-form-field></td></tr>
    </table>
  </form>
  <p *ngIf="wrongPassword">Le mot de passe saisi ne correspond pas à votre mot de passe actuel.</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!canSubmit()">
      {{!!user ? 'Modifier mon' : 'Definir comme nouveau'}} mot de passe</button>
</mat-dialog-actions>
