<mat-card>
    <form [formGroup]="managerForm" (ngSubmit)="onSaveManager()">
        <mat-card-header>
            <mat-card-title>Création d'un nouveau manager</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="legacy">
                <mat-label>Prénom *</mat-label>
                <input matInput placeholder="Prénom"
                       formControlName="firstname">
                <mat-error *ngIf="managerForm.controls['firstname'].hasError('required')">
                        Un prénom est requis.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Nom *</mat-label>
                <input matInput placeholder="Nom"
                       formControlName="lastname">
                <mat-error *ngIf="managerForm.controls['lastname'].hasError('required')">
                        Un nom est requis.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Email *</mat-label>
                <input matInput placeholder="Email"
                       formControlName="email">
                <mat-error *ngIf="!managerForm.controls['email'].hasError('required') && 
                                  (managerForm.controls['email'].hasError('email') || 
                                  managerForm.controls['email'].hasError('badDomain') )">
                        La forme de l'adresse mail est erronée.
                </mat-error>
                <mat-error *ngIf="managerForm.controls['email'].hasError('required')">
                        Une adresse mail est requise.
                </mat-error>
            </mat-form-field>
            
            <mat-slide-toggle formControlName="admin">Admin</mat-slide-toggle>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="managerForm.invalid">Enregistrer le nouveau manager</button>
        </mat-card-actions>
        </form>
</mat-card>
