<form [formGroup]="diplomaForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Ville</mat-label>
        <input matInput type="text" formControlName="city" [matAutocomplete]="city">
        <mat-autocomplete #city="matAutocomplete">
            <mat-option *ngFor="let diploma of filteredDiplomasCity | async" [value]="diploma.diplomaLocation.city">
               {{diploma.diplomaLocation.city}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>&nbsp;
    <mat-form-field>
        <mat-label>Ecole</mat-label>
        <input matInput type="text"  formControlName="school"  [matAutocomplete]="school">
        <mat-autocomplete #school="matAutocomplete">
            <mat-option *ngFor="let diploma of filteredDiplomasSchool | async" [value]="diploma.diplomaLocation.school">
               {{diploma.diplomaLocation.school}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field> &nbsp;
    <mat-form-field>
        <mat-label>Année</mat-label >
        <input matInput type="number"  formControlName="year">
    </mat-form-field>&nbsp;
    <mat-form-field>
        <mat-label>Niveau</mat-label>
        <input matInput type="text"  formControlName="level">
    </mat-form-field>&nbsp;
    <mat-form-field>
        <mat-label>Diplôme</mat-label>
        <input matInput type="text"  formControlName="diploma">
    </mat-form-field> &nbsp;

    <button type="submit" mat-button>
        <span class="material-icons">done</span>
    </button>

    <button mat-button color="warn" (click)="onDelete()">
        <span class="material-icons">delete</span>
    </button>
</form>
