<mat-tab-group *ngIf="!!consultant" animationDuration="0ms" mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      {{consultant.firstname}} {{consultant.lastname}}
    </ng-template>
    <app-consultant-view 
      *ngIf="!writingRights" 
      [consultant]="consultant">
    </app-consultant-view>
    <app-consultant-edit 
      *ngIf="writingRights"
      [consultant]="consultant"
      (reload)="onReload()">
    </app-consultant-edit>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Ses missions
    </ng-template>
  </mat-tab>
  <mat-tab *ngIf="writingRights" disabled>
    <ng-template mat-tab-label>
      <button mat-button color="warn" 
        *ngIf="!consultant.releaseDate"
        (click)="onSetReleaseDate()">Indiquer la sortie des effectifs</button>
    </ng-template>
  </mat-tab>
</mat-tab-group>