<mat-card *ngIf="consultant">
  <mat-card-content>
    <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
      <mat-tab>
        <ng-template mat-tab-label>
          {{consultant.firstname}} {{consultant.lastname}}
        </ng-template>
        <div *ngIf="writingRights; then consultantEdit else consultantView"></div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Ses missions
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="warn" 
    *ngIf="writingRights && !consultant.releaseDate"
    (click)="onSetReleaseDate()">Indiquer la sortie des effectifs</button>
  </mat-card-actions>
</mat-card>

<ng-template #consultantView>
  <app-consultant-view 
    [consultant]="consultant">
  </app-consultant-view>
</ng-template>
<ng-template #consultantEdit>
  <app-consultant-edit 
    [consultant]="consultant"
    (reload)="onReload()">
  </app-consultant-edit>
</ng-template>