<mat-card>
  <mat-card-content>
    <mat-vertical-stepper #stepper>
      <mat-step>
        <form>
          <ng-template matStepLabel>Consultant</ng-template>
          <div *ngIf="!newConsultant">
            <app-consultant-autocomplete></app-consultant-autocomplete>
            <mat-icon title="Créer un nouveau consultant" (click)="onNewConsultant()">add_box</mat-icon>
          </div>
          <app-new-consultant *ngIf="newConsultant" (dirtyValues)="updateConsultant($event)"></app-new-consultant>
        </form>
      </mat-step>
      <mat-step >
        <form>
          <ng-template matStepLabel>Client</ng-template>
          <div *ngIf="!newCustomer">
          <app-customer-autocomplete ></app-customer-autocomplete>
          <mat-icon title="Créer un nouveau client" (click)="onNewCustomer()">add_box</mat-icon>
          </div>
          <app-new-customer *ngIf="newCustomer" (dirtyValues)="updateCustomer($event)"></app-new-customer>
        </form>
      </mat-step>
    </mat-vertical-stepper>
    <mat-card-actions>
      <button mat-button (click)=onCreateMission()>Créer la mission</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>