
    
    
    <mat-card-content>
      <h1>Modifier un consultant</h1>
        <form [formGroup]="consultantForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
              <mat-label>Prénom</mat-label>
              <input matInput type="text" formControlName="firstname">
            </mat-form-field>
            &nbsp;
            <mat-form-field>
              <mat-label>Nom</mat-label>
              <input matInput type="text" formControlName="lastname">
            </mat-form-field>
            <br>
            <mat-form-field style="width:100%;">
              <mat-label>E-mail</mat-label>
              <input matInput type="email"  formControlName="email">
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Expérience</mat-label>
              <input matInput type="number" formControlName="experience">
            </mat-form-field>
            &nbsp;
            <button mat-icon-button style="color: green">
              <span class="material-icons">done</span>
            </button>
          </form>

          <h1>Manager du consultant</h1>
          <form>
            <mat-form-field>
              <mat-label>Manager</mat-label>
              <input matInput type="text">
            </mat-form-field>
          </form>

          <h1>Diplôme</h1>
    </mat-card-content>