
    
    
    <mat-card-content>
      <br>
      <h1>Modifier ses informations</h1>
          <app-input typeInput="text" title="Prénom" fieldName="firstname" [currentVal]="consultant?.firstname" [consultantId]="consultant?.id"></app-input>
          <app-input typeInput="text" title="Nom" fieldName="lastname" [currentVal]="consultant?.lastname" [consultantId]="consultant?.id"></app-input>
          <app-input typeInput="email" title="E-mail" fieldName="email" [currentVal]="consultant?.email" [consultantId]="consultant?.id"></app-input>  
          <app-input typeInput="number" title="Expérience" fieldName="experience" [currentVal]="consultant?.experience" [consultantId]="consultant?.id"></app-input>
          <br>
          <h1>Modifier son manager</h1>
          <app-consultant-manager [consultant]="consultant"></app-consultant-manager>
          <br>
          <h1>
            Modifier ses diplômes
          </h1>
          <app-consultant-diploma *ngFor="let diploma of consultant.diplomas" 
            [diploma]="diploma" 
            [consultantId]="consultant.id"></app-consultant-diploma>
          <button  mat-icon-button (click)="createComponent(consultant.id)">
            <span class="material-icons">add</span>
          </button>
          <div #messagecontainer></div>
          

    </mat-card-content>