
    
    
    <mat-card-content>
      <br>
      <h1>Modifier ses informations</h1>
        <form [formGroup]="consultantForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
              <mat-label>Prénom</mat-label>
              <input matInput type="text" formControlName="firstname">
            </mat-form-field>
            &nbsp;
            <mat-form-field>
              <mat-label>Nom</mat-label>
              <input matInput type="text" formControlName="lastname">
            </mat-form-field>
            <br>
            <mat-form-field style="width:100%;">
              <mat-label>E-mail</mat-label>
              <input matInput type="email"  formControlName="email">
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Expérience</mat-label>
              <input matInput type="number" formControlName="experience">
            </mat-form-field>
            &nbsp;
            <button type="submit" mat-icon-button style="color: green">
              <span class="material-icons">done</span>
            </button>
          </form>
          <br>
          <h1>Modification son manager</h1>
          <app-consultant-manager [consultant]="consultant"></app-consultant-manager>
          <br>
          <h1>Modifier ses diplômes</h1>
          <app-consultant-diploma *ngFor="let diploma of consultant.diplomas" [diploma]="diploma"></app-consultant-diploma>
    </mat-card-content>