<mat-card *ngIf="!!manager">
    <mat-card-content>
        <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
            <mat-tab>
              <ng-template mat-tab-label>
                {{manager.firstname}} {{manager.lastname}}
              </ng-template>
              <div *ngIf="isActive(); then edit else view"></div>
            </mat-tab>
            <mat-tab *ngIf="manager.consultants.length > 0">
              <ng-template mat-tab-label>
                {{userId == manager.id ? 'Vos' : 'Ses'}} consultants
              </ng-template>
              <app-datatable *ngIf="!!dataSource"
                [columnsToDisplay]="['firstname', 'lastname', 'email', 'releaseDate']"
                [dataSource]="dataSource"
                label="consultant"
                (rowClicked)="goToConsultantPage($event)">
            </app-datatable>
            </mat-tab>
          </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
      <div *ngIf="userId != manager.id">
        <button *ngIf="isActive()" mat-button color="primary"
          (click)="onChangePasswordAcces()">
          Lien de réinitialisation de mot de passe
        </button>
        <button mat-button color="accent" (click)="onSetReleaseDate()">
          {{manager.releaseDate ? 'Modifier/annuler' : 'Indiquer'}} date de sortie des effectifs
        </button>
        <button mat-button color="warn" *ngIf="manager.consultants.length === 0"
          (click)="onDelete()">Supprimer ce manager en base</button>
      </div>
    </mat-card-actions>
</mat-card> 

<ng-template #edit>
  <app-manager-edit [manager]="manager"></app-manager-edit>
</ng-template>

<ng-template #view>
  <app-manager-view [manager]="manager"></app-manager-view>
</ng-template>