<mat-card>
  <mat-tab-group *ngIf="!!customer" animationDuration="0ms" mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        {{customer.name}}
      </ng-template>
      <app-customer-view *ngIf="!writingRights" [customer]="customer">
      </app-customer-view>
      <app-customer-edit *ngIf="writingRights" [customer]="customer">
      </app-customer-edit>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Les missions du client
      </ng-template>
      <app-array-missions-view *ngIf="missions" [missions]="missions" [displayedColumns]="cols"></app-array-missions-view>
    </mat-tab>
  </mat-tab-group>
</mat-card>