<header *ngIf="user">
  <div class="head">
      <nav>
          <ul>
            <li><a routerLink="/customers" title="Liste des clients">Clients</a></li>
            <li><a routerLink="/consultants" title="Liste des consultants">Consultants</a></li>
            <div *ngIf="userIsManager">
                <li class="firstOfSection"><a routerLink="/new-mission" title="Créer une nouvelle mission">Nouvelle mission</a></li>
                <div *ngIf="userIsAdmin">
                    <li class="firstOfSection"><a routerLink="/recruitement-officers" title="Liste des chargés de recrutement">CDR</a></li>
                    <li><a routerLink="/managers" title="Liste des managers">Managers</a></li>
                </div>
            </div>
          </ul>
      </nav>
      <div id="actions">
        <button *ngIf="userIsAdmin" mat-mini-fab color="accent" title="Appliquer RGPD" (click)="onGRDP()">
            <mat-icon>error</mat-icon>
        </button>
        <button mat-mini-fab class="blue-shape" title="Déconnexion" (click)="onLogout()">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>
  </div>
  <div class="foot">
      <a title="Liste des missions" routerLink=""><img id="home" src="assets/img/logo/alten.png" alt="Logo ALTEN"></a>
        <div class="user">
            <mat-icon>account_circle</mat-icon>
            {{user.firstname}} {{user.lastname}}
        </div>
  </div>
</header>