<header *ngIf="user">
  <div class="head">
      <nav>
          <ul>
              <li><a routerLink="/customers" title="Liste des clients">Clients</a></li>
              <li><a routerLink="/consultants" title="Liste des consultants">Consultants</a></li>
              <li><a routerLink="" title="Liste des missions">Missions</a></li>
              <div *ngIf="userIsManager">
                <li class="firstOfSection"><a routerLink="/new-mission" title="Créer une nouvelle mission">Nouvelle mission</a></li>
                <div *ngIf="userIsAdmin">
                  <li class="firstOfSection"><a routerLink="/recruitment-officers" title="Liste des chargés de recrutement">CDR</a></li>
                  <li><a routerLink="/managers" title="Liste des managers">Managers</a></li>
                </div>
              </div>
          </ul>
      </nav>
      <div id="actions">
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #appMenu="matMenu">
          <button *ngIf="userIsAdmin" mat-menu-item (click)="onGRDP()">
            <mat-icon>lock</mat-icon>
            <span>Appliquer le RGPD</span>
          </button>
          <button mat-menu-item (click)="onChangePassword()">
            <mat-icon>vpn_key</mat-icon>
            <span>Modifier mon mot de passe</span>
          </button>
          <button mat-menu-item (click)="onLogout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Me déconnecter</span>
          </button>
        </mat-menu>
    </div>
  </div>
  <div class="foot">
      <a title="Liste des missions" routerLink=""><img id="home" src="assets/img/logo/alten.png" alt="Logo ALTEN"></a>
        <div class="user">
            <mat-icon>account_circle</mat-icon>
            {{user.firstname}} {{user.lastname}}
        </div>
  </div>
</header>