<br>
<div *ngIf="consultant?.releaseDate!=null" class="issue">
    Le consultant ne fait plus parti du groupe ALTEN.
</div>
<br>
<mat-card *ngIf="consultant" class="consultant-card">
    <button style="float: right;" mat-icon-button >
        <span class="material-icons" routerLink="/consultants">close</span>
    </button>
    <mat-tab-group>
        <mat-tab label="{{consultant.firstname}} {{consultant.lastname}}">
            <app-consultant-details [consultant]="consultant"></app-consultant-details>
        </mat-tab>
        <mat-tab label="Modifier">
            <app-consultant-form [(consultant)]="consultant"></app-consultant-form>
        </mat-tab>
        <mat-tab label="Ses missions"></mat-tab>
    </mat-tab-group>
</mat-card>
<br>
