<mat-card class="example-card">
    <form [formGroup]="recruitmentOfficerForm" >
    <mat-card-header>
        <mat-card-title *ngIf="recruitmentOfficer">{{recruitmentOfficer.firstname}} {{recruitmentOfficer.lastname}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field appearance="legacy">
            <mat-label>Prénom *</mat-label>
            <input matInput placeholder="Prénom"
                   formControlName="firstname"
                   (change)="onUpdateRecruitmentOfficer()">
            <mat-error *ngIf="recruitmentOfficerForm.controls['firstname'].hasError('required')">
                    Un prénom est requis.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Nom *</mat-label>
            <input matInput placeholder="Nom"
                   formControlName="lastname"
                   (change)="onUpdateRecruitmentOfficer()">
            <mat-error *ngIf="recruitmentOfficerForm.controls['lastname'].hasError('required')">
                    Un nom est requis.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Email *</mat-label>
            <input matInput placeholder="Email"
                   formControlName="email"
                   (change)="onUpdateRecruitmentOfficer()">
            <mat-error *ngIf="!recruitmentOfficerForm.controls['email'].hasError('required') && 
                              (recruitmentOfficerForm.controls['email'].hasError('email') || 
                              recruitmentOfficerForm.controls['email'].hasError('badDomain') )">
                    La forme de l'adresse mail est erronée.
            </mat-error>
            <mat-error *ngIf="recruitmentOfficerForm.controls['email'].hasError('required')">
                    Une adresse mail est requise.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>Date de fin d'activité</mat-label>
            <input matInput 
                   type = "date"
                   formControlName="releaseDate"
                   (change)="onReleaseRecruitmentOfficer()">
            
        </mat-form-field>
    </mat-card-content>
    </form>
</mat-card> 
