<mat-card *ngIf="!!recruitmentOfficer">
    <mat-card-content>
        <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
            <mat-tab>
              <ng-template mat-tab-label>
                {{recruitmentOfficer.firstname}} {{recruitmentOfficer.lastname}}
              </ng-template>
              <div *ngIf="isActive(); then edit else view"></div>
            </mat-tab>
          </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="isActive()" mat-button color="primary"
        (click)="onChangePasswordAcces()">
        Lien de réinitialisation de mot de passe
      </button>
      <button mat-button color="accent" (click)="onSetReleaseDate()">
        {{recruitmentOfficer.releaseDate ? 'Modifier/annuler' : 'Indiquer'}} date de sortie des effectifs
      </button>
      <button mat-button color="warn" (click)="onDelete()">Supprimer ce CDR en base</button>
      </mat-card-actions>
</mat-card> 

<ng-template #edit>
  <app-recruitment-officer-edit [recruitmentOfficer]="recruitmentOfficer"></app-recruitment-officer-edit>
</ng-template>

<ng-template #view>
  <app-recruitment-officer-view [recruitmentOfficer]="recruitmentOfficer"></app-recruitment-officer-view>
</ng-template>