<div *ngIf="!!customer" class="flex-row-container">
    <table class="inputable left-part">
        <tr><td>
        <app-name-cust-input
            (customerChange)="updateCustomer($event)" 
            [customer]="customer"></app-name-cust-input>
        </td></tr>
        <tr><td>
        <app-activity-sector-cust-input
            (customerChange)="updateCustomer($event)" 
            [customer]="customer"></app-activity-sector-cust-input>
        </td></tr>
        <tr><td>
        <app-description-cust-input
            (customerChange)="updateCustomer($event)" 
            [customer]="customer"></app-description-cust-input>
        </td></tr>
    </table>
    <div class="img-box">
        <div class="centered">
          <div *ngIf="!!logoSrc; then logo else noLogo"></div>
        </div>
    </div>
</div>

<ng-template #logo>
    <app-img-box [src]="logoSrc" [title]="'Supprimer le logo.'" [allowDelete]="true" (delete)="onRemoveLogo()"></app-img-box>
</ng-template>
  
<ng-template #noLogo>
    <app-upload-image [id]="customer.id" [title]="'Ajouter un logo.'" (image)="onAddLogo($event)"></app-upload-image>
</ng-template>