<div *ngIf="!!customer">
    <table class="inputable">
        <tr><td>
        <app-name-cust-input
            (customerChange)="updateCustomer($event)" 
            [customer]="customer"></app-name-cust-input>
        </td>
        <td rowspan="3" class="img-td">
            <div *ngIf="!!logoSrc; then logo else noLogo"></div>
        </td>
    </tr>
        <tr><td>
        <app-activity-sector-cust-input
            (customerChange)="updateCustomer($event)" 
            [customer]="customer"></app-activity-sector-cust-input>
        </td></tr>
        <tr><td>
        <app-description-cust-input
            (customerChange)="updateCustomer($event)" 
            [customer]="customer"></app-description-cust-input>
        </td></tr>
    </table>
</div>

<ng-template #logo>
    <app-img-box [src]="logoSrc" [title]="'Supprimer le logo.'" [allowDelete]="true" (delete)="onRemoveLogo()"></app-img-box>
</ng-template>
  
<ng-template #noLogo>
    <app-upload-image style="margin: auto;" [id]="customer.id" [title]="'Ajouter un logo.'" (image)="onAddLogo($event)"></app-upload-image>
</ng-template>