<mat-card>
    <mat-card-header>
        <mat-card-title>
            <img src="/assets/img/logo/alten.png" alt="Logo ALTEN">Connexion</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div [formGroup]="loginForm">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" placeholder="prenom.nom@alten.com" >
              </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input matInput [type]="hidden ? 'password' : 'text'" formControlName="password" (keyup.enter)="onSubmit()">
                <button mat-icon-button matSuffix (click)="onVisibility()">
                  <mat-icon>{{hidden ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <p *ngIf="isLoginFailed">Identifiants incorrects</p>
            <mat-card-actions>
                <a>Mot de passe oublié ?</a>
                <button mat-raised-button class="blue-shape" type="submit" (click)="onSubmit()">Se connecter</button>
            </mat-card-actions>
          </div>
    </mat-card-content>
</mat-card>