<mat-list *ngIf="project">
    <mat-list-item>
      <h1 matLine>Intitulé de projet</h1>
      <p matLine>{{project.title || 'Non renseigné'}}</p>
    </mat-list-item>
    <mat-list-item>
      <h1 matLine>Description du projet</h1>
      <p matLine>{{project.description || 'Pas de description'}}</p>
    </mat-list-item>
    <mat-list-item>
      <h1 matLine>Durée du projet</h1>
      <p matLine>Du {{project.beginDate  || '?'}} au {{project.beginDate || '?'}}</p>
    </mat-list-item>
  </mat-list>
  <mat-chip-list>
    <mat-chip *ngFor="let skill of project.skills">{{skill.label}}</mat-chip>
</mat-chip-list>
