<form *ngIf="version" [formGroup]="grp">
  <table class="inputable">
    <tr><td colspan="2"><mat-form-field>
      <mat-label>Intitulé de la mission</mat-label>
      <input matInput type="text" maxLength="255"
        [formControlName]="TITLE_KEY" (change)="onChange(TITLE_KEY)">
        <mat-icon matSuffix *ngIf="externalVersion" color="primary"
          [matTooltip]="TITLE_TOOLTIP" [matTooltipPosition]="TOOLTIP_POS">{{TOOLTIP_ICON}}</mat-icon>
        <mat-error *ngIf="!grp.controls[TITLE_KEY].valid && grp.controls[TITLE_KEY].touched">
          {{getErrorTxt(TITLE_KEY)}}
      </mat-error>
    </mat-form-field></td></tr>
    <tr>
      <td><mat-form-field>
        <mat-label>{{getLabelText(ROLE_KEY)}}</mat-label>
        <input matInput type="text" maxlength="100"
          [formControlName]="ROLE_KEY" (change)="onChange(ROLE_KEY)">
        <mat-icon matSuffix *ngIf="externalVersion" color="primary"
          [matTooltip]="ROLE_TOOLTIP" [matTooltipPosition]="TOOLTIP_POS">{{TOOLTIP_ICON}}</mat-icon>
        <mat-error *ngIf="!grp.controls[ROLE_KEY].valid && grp.controls[ROLE_KEY].touched">
            {{getErrorTxt(ROLE_KEY)}}
        </mat-error>
      </mat-form-field></td>
      <td><mat-form-field>
        <mat-label>{{getLabelText(XP_KEY)}}</mat-label>
        <input matInput type="text"
          [formControlName]="XP_KEY" (change)="onChange(XP_KEY)">
        <mat-icon matSuffix *ngIf="externalVersion" color="primary"
          [matTooltip]="XP_TOOLTIP" [matTooltipPosition]="TOOLTIP_POS">{{TOOLTIP_ICON}}</mat-icon>
        <mat-error *ngIf="!grp.controls[XP_KEY].valid && grp.controls[XP_KEY].touched">
            {{getErrorTxt(XP_KEY)}}
        </mat-error>
      </mat-form-field></td>
    </tr>
    <tr><td colspan="2"><mat-form-field>
      <mat-label>Description de la mission</mat-label>
      <textarea matInput maxLength="255"
        [formControlName]="DESCRIPTION_KEY" (change)="onChange(DESCRIPTION_KEY)" ></textarea>
        <mat-icon matSuffix *ngIf="externalVersion" color="primary"
          [matTooltip]="DESCRIPTION_TOOLTIP" [matTooltipPosition]="TOOLTIP_POS">{{TOOLTIP_ICON}}</mat-icon>
      <mat-hint>{{grp.controls['description'].value?.length || 0}} / 255</mat-hint>
      <mat-error *ngIf="!grp.controls[DESCRIPTION_KEY].valid && grp.controls[DESCRIPTION_KEY].touched">
        {{getErrorTxt(DESCRIPTION_KEY)}}
      </mat-error>
    </mat-form-field></td></tr>
    <tr>
      <td><mat-form-field>
        <mat-label>Ville</mat-label>
        <input matInput type="text" maxlength="100"
          [formControlName]="CITY_KEY" (change)="onChange(CITY_KEY)">
          <mat-icon matSuffix *ngIf="externalVersion" color="primary"
            [matTooltip]="CITY_TOOLTIP" [matTooltipPosition]="TOOLTIP_POS">{{TOOLTIP_ICON}}</mat-icon>
          <mat-error *ngIf="!grp.controls[CITY_KEY].valid && grp.controls[CITY_KEY].touched">
              {{getErrorTxt(CITY_KEY)}}
          </mat-error>
      </mat-form-field></td>
      <td><mat-form-field>
        <mat-label>Pays</mat-label>
        <input matInput type="text" maxlength="100"
          [formControlName]="COUNTRY_KEY" (change)="onChange(COUNTRY_KEY)">
        <mat-icon matSuffix *ngIf="externalVersion" color="primary"
          [matTooltip]="COUNTRY_TOOLTIP" [matTooltipPosition]="TOOLTIP_POS">{{TOOLTIP_ICON}}</mat-icon>
        <mat-error *ngIf="!grp.controls[COUNTRY_KEY].valid && grp.controls[COUNTRY_KEY].touched">
          {{getErrorTxt(COUNTRY_KEY)}}
        </mat-error>
      </mat-form-field></td>
    </tr>
    <tr>
      <td><mat-form-field>
        <mat-label>Taille de l'équipe</mat-label>
        <input matInput type="text"
          [formControlName]="TEAM_KEY" (change)="onChange(TEAM_KEY)">
        <mat-icon matSuffix *ngIf="externalVersion" color="primary"
          [matTooltip]="TEAM_TOOLTIP" [matTooltipPosition]="TOOLTIP_POS">{{TOOLTIP_ICON}}</mat-icon>
        <mat-error *ngIf="!grp.controls[TEAM_KEY].valid && grp.controls[TEAM_KEY].touched">
            {{getErrorTxt(TEAM_KEY)}}
        </mat-error>
      </mat-form-field></td>
      <td><mat-radio-group [formControlName]="CONTRACT_KEY" (change)="onChange(CONTRACT_KEY)">
        <mat-label>Type de contrat</mat-label>
        <mat-radio-button
          value="technical_assistance"
          matTooltip="Assistance Technique">AT</mat-radio-button>
        <mat-radio-button
          value="services_center"
          matTooltip="Centre De Services">CDS</mat-radio-button>
        <mat-radio-button value="flat_fee">Forfait</mat-radio-button>
      </mat-radio-group></td>
    </tr>
    <tr><td colspan="2"><mat-form-field *ngIf="version[COMMENT_KEY]">
      <mat-label>Commentaire client/manager</mat-label>
      <textarea matInput maxlength="255"
        [formControlName]="COMMENT_KEY" (change)="onChange(COMMENT_KEY)" ></textarea>
      <mat-hint>{{grp.controls['comment'].value?.length || 0}} / 255</mat-hint>
    </mat-form-field></td></tr>
  </table>
</form>