<div *ngIf="!!version">
  
  <form class="left-part" [formGroup]="grp">
    <table class="inputable">
      <tr><td colspan="2"><mat-form-field>
        <mat-label>Intitulé de la mission</mat-label>
        <input matInput type="text" maxLength="100" required
          [formControlName]="TITLE_KEY" (change)="onChange(TITLE_KEY)">
          <mat-icon matSuffix *ngIf="externalVersion" color="primary"
            [matTooltip]="TITLE_TOOLTIP" [matTooltipPosition]="TOOLTIP_POS">{{TOOLTIP_ICON}}</mat-icon>
          <mat-error>{{getErrorTxt(TITLE_KEY)}}</mat-error>
      </mat-form-field></td></tr>
      <tr>
        <td><mat-form-field>
          <mat-label>{{getLabelText(ROLE_KEY)}}</mat-label>
          <input matInput type="text" maxlength="50" required
            [formControlName]="ROLE_KEY" (change)="onChange(ROLE_KEY)">
          <mat-icon matSuffix *ngIf="externalVersion" color="primary"
            [matTooltip]="ROLE_TOOLTIP" [matTooltipPosition]="TOOLTIP_POS">{{TOOLTIP_ICON}}</mat-icon>
          <mat-error>{{getErrorTxt(ROLE_KEY)}}</mat-error>
        </mat-form-field></td>
        <td><mat-form-field>
          <mat-label>{{getLabelText(XP_KEY)}}</mat-label>
          <input matInput type="number" required
            [formControlName]="XP_KEY" (change)="onChange(XP_KEY)">
          <mat-icon matSuffix *ngIf="externalVersion" color="primary"
            [matTooltip]="XP_TOOLTIP" [matTooltipPosition]="TOOLTIP_POS">{{TOOLTIP_ICON}}</mat-icon>
          <mat-error>{{getErrorTxt(XP_KEY)}}</mat-error>
        </mat-form-field></td>
      </tr>
      <tr><td colspan="2"><mat-form-field>
        <mat-label>Description de la mission</mat-label>
        <textarea matInput maxLength="1000" required
          [formControlName]="DESCRIPTION_KEY" (change)="onChange(DESCRIPTION_KEY)" ></textarea>
          <mat-icon matSuffix *ngIf="externalVersion" color="primary"
            [matTooltip]="DESCRIPTION_TOOLTIP" [matTooltipPosition]="TOOLTIP_POS">{{TOOLTIP_ICON}}</mat-icon>
            <mat-error>{{getErrorTxt(DESCRIPTION_KEY)}}</mat-error>
        <mat-hint>{{grp.controls[DESCRIPTION_KEY].value?.length || 0}} / {{DESCRIPTION_MAX_LENGTH}}</mat-hint>
      </mat-form-field></td></tr>
      <tr>
        <td><mat-form-field>
          <mat-label>Ville</mat-label>
          <input matInput type="text" maxlength="100" required
            [formControlName]="CITY_KEY" (change)="onChange(CITY_KEY)">
            <mat-icon matSuffix *ngIf="externalVersion" color="primary"
              [matTooltip]="CITY_TOOLTIP" [matTooltipPosition]="TOOLTIP_POS">{{TOOLTIP_ICON}}</mat-icon>
            <mat-error>{{getErrorTxt(CITY_KEY)}}</mat-error>
        </mat-form-field></td>
        <td><mat-form-field>
          <mat-label>Pays</mat-label>
          <input matInput type="text" maxlength="100" required
            [formControlName]="COUNTRY_KEY" (change)="onChange(COUNTRY_KEY)">
          <mat-icon matSuffix *ngIf="externalVersion" color="primary"
            [matTooltip]="COUNTRY_TOOLTIP" [matTooltipPosition]="TOOLTIP_POS">{{TOOLTIP_ICON}}</mat-icon>
          <mat-error>{{getErrorTxt(COUNTRY_KEY)}}</mat-error>
        </mat-form-field></td>
      </tr>
      <tr>
        <td><mat-form-field>
          <mat-label>Taille de l'équipe</mat-label>
          <input matInput type="number" required
            [formControlName]="TEAM_KEY" (change)="onChange(TEAM_KEY)">
          <mat-icon matSuffix *ngIf="externalVersion" color="primary"
            [matTooltip]="TEAM_TOOLTIP" [matTooltipPosition]="TOOLTIP_POS">{{TOOLTIP_ICON}}</mat-icon>
          <mat-error>{{getErrorTxt(TEAM_KEY)}}</mat-error>
        </mat-form-field></td>
        <td><mat-radio-group [formControlName]="CONTRACT_KEY" (change)="onChange(CONTRACT_KEY)" required>
          <mat-label>Type de contrat</mat-label>
          <mat-radio-button
            value="technical_assistance"
            matTooltip="Assistance Technique">AT</mat-radio-button>
          <mat-radio-button
            value="services_center"
            matTooltip="Centre De Services">CDS</mat-radio-button>
          <mat-radio-button value="flat_fee">Forfait</mat-radio-button>
          <mat-error class="contractError">{{getErrorTxt(CONTRACT_KEY)}}</mat-error>
        </mat-radio-group></td>
      </tr>
      <tr><td colspan="2"><mat-form-field *ngIf="version[COMMENT_KEY]">
        <mat-label>Commentaire client/manager</mat-label>
        <textarea matInput maxlength="255"
          [formControlName]="COMMENT_KEY" (change)="onChange(COMMENT_KEY)" ></textarea>
        <mat-hint>{{grp.controls[COMMENT_KEY].value?.length || 0}} / {{COMMENT_MAX_LENGTH}}</mat-hint>
      </mat-form-field></td></tr>
    </table>
  </form>
</div>