<form *ngIf="version" [formGroup]="grp">
  <mat-form-field>
    <mat-label>Intitulé de la mission</mat-label>
    <input matInput type="text" maxLength="255"
      [formControlName]="TITLE_KEY" (change)="onChange(TITLE_KEY)">
  </mat-form-field>
  <table class="inputable">
    <tr>
      <td><mat-form-field>
        <mat-label>Rôle du consultant</mat-label>
        <input matInput type="text" maxlength="100"
          [formControlName]="ROLE_KEY" (change)="onChange(ROLE_KEY)">
      </mat-form-field></td>
      <td><mat-form-field>
        <mat-label>Années d'expérience du consultant au début de la mission</mat-label>
        <input matInput type="text"
          [formControlName]="XP_KEY" (change)="onChange(XP_KEY)">
      </mat-form-field></td>
    </tr>
  </table>
  <mat-form-field appearance="fill">
    <mat-label>Description de la mission</mat-label>
    <textarea matInput maxLength="1000"
      [formControlName]="DESCRIPTION_KEY" (change)="onChange(DESCRIPTION_KEY)" ></textarea>
    <mat-hint>{{grp.controls['description'].value?.length || 0}} / 1000</mat-hint>
  </mat-form-field>
  <table class="inputable">
    <tr>
      <td><mat-form-field>
        <mat-label>Ville</mat-label>
        <input matInput type="text" maxlength="100"
          [formControlName]="CITY_KEY" (change)="onChange(CITY_KEY)">
      </mat-form-field></td>
      <td><mat-form-field>
        <mat-label>Pays</mat-label>
        <input matInput type="text" maxlength="100"
          [formControlName]="COUNTRY_KEY" (change)="onChange(COUNTRY_KEY)">
      </mat-form-field></td>
    </tr>
    <tr>
      <td><mat-form-field>
        <mat-label>Taille de l'équipe</mat-label>
        <input matInput type="text"
          [formControlName]="TEAM_KEY" (change)="onChange(TEAM_KEY)">
      </mat-form-field></td>
      <td><mat-radio-group [formControlName]="CONTRACT_KEY" (change)="onChange(CONTRACT_KEY)">
        <mat-label>Type de contrat</mat-label>
        <mat-radio-button
          value="technical_assistance"
          matTooltip="Assistance Technique">AT</mat-radio-button>
        <mat-radio-button
          value="services_center"
          matTooltip="Centre De Services">CDS</mat-radio-button>
        <mat-radio-button value="flat_fee">Forfait</mat-radio-button>
      </mat-radio-group></td>
    </tr>
  </table>
  <mat-form-field appearance="fill" *ngIf="version[COMMENT_KEY]">
    <mat-label>Commentaire client/manager</mat-label>
    <textarea matInput maxlength="255"
      [formControlName]="COMMENT_KEY" (change)="onChange(COMMENT_KEY)" ></textarea>
    <mat-hint>{{grp.controls['comment'].value?.length || 0}} / 255</mat-hint>
  </mat-form-field>
</form>