mat-form-field {
    display: block;
    padding: 10px 10px 0 10px;
}

table {
    width: 100%;
}

td {
    width: 50%;
}

mat-icon {
    margin-left: 10px;
}

mat-radio-button {
    padding-left: 20px;
}