@import url(https://fonts.googleapis.com/css?family=Raleway);
@import 'src/vars';

.step-content {
    flex-grow: 1;
}

.step-nav {
    vertical-align: middle;
}

.next {
    margin-left: 24px;
}

.previous {
    margin-right: 24px;
}