@import url(https://fonts.googleapis.com/css?family=Raleway);
@import 'src/vars';

.step-content {
    flex-grow: 1;
}

.step-nav {
    vertical-align: middle;
    margin: 24px;
}

.next {
    margin-right: 0;
}

.previous {
    margin-left: 0;
}

.flex-row-container {
    align-items: center;
 }