<form>
  <table class="inputable">
    <tr>
      <td><app-firstname-input 
        (sendCtrl)="addCtrl('firstname', $event)" 
        (valueChange)="autoCompleteEmail()"
        [required]="true">
      </app-firstname-input></td>
      <td><app-lastname-input
        (sendCtrl)="addCtrl('lastname', $event)"
        (valueChange)="autoCompleteEmail()"
        [required]="true">
      </app-lastname-input></td>
    </tr>
    <tr><td colspan="2"><app-email-input
      (sendCtrl)="addCtrl('email', $event)"
      [required]="true">
    </app-email-input></td></tr>
  </table>
</form>