<h1 mat-dialog-title>{{newPassword ? 'Nouveau' : 'Modification du'}} mot de passe</h1>
<mat-dialog-content>
  <form [formGroup]="grp">
    <mat-form-field *ngIf="!newPassword">
      <mat-label>Mot de passe actuel</mat-label>
      <input matInput [type]="hiddenCurrent ? 'password' : 'text'" [formControlName]="CURRENT_KEY" maxlength="16" required>
      <button mat-icon-button matSuffix (click)="hiddenCurrent = !hiddenCurrent">
        <mat-icon>{{hiddenCurrent ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="!grp.controls[CURRENT_KEY].valid && grp.controls[CURRENT_KEY].touched">
        {{getErrorText(CURRENT_KEY)}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nouveau mot de passe</mat-label>
      <input matInput [type]="hiddenNew ? 'password' : 'text'" [formControlName]="NEW_KEY" maxlength="16" required>
      <button mat-icon-button matSuffix (click)="hiddenNew = !hiddenNew">
        <mat-icon>{{hiddenNew ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="!grp.controls[NEW_KEY].valid && grp.controls[NEW_KEY].touched">
        {{getErrorText(NEW_KEY)}}
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!grp.valid">
      {{newPassword ? 'Definir comme nouveau' : 'Modifier mon'}} mot de passe</button>
</mat-dialog-actions>
