mat-expansion-panel{
    box-shadow: none !important;
    background-color: whitesmoke;
}

div{
    margin-top:10px;
}

.disabled{
    display: none;
}


button{
    margin-top: 10px;
}

.title{
    color: #008BD2;
    font-weight: bolder;
    margin-right: 20px;
}