<mat-tab-group #tabGrp [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
  <ng-container *ngIf="!!projects">
    <mat-tab *ngFor="let project of projects; let i = index">
      <ng-template mat-tab-label>
        {{project.title || 'Projet n°' + (i+1)}}
        <button mat-icon-button *ngIf="allowCreationAndDeletion && projects.length > 1" title="Retirer ce projet" color="warn" (click)="onDelete(i)">
          <mat-icon>clear</mat-icon>
        </button>
      </ng-template>
      <app-project-single-edit
        [externalVersion]="externalVersion"
        [project]="project"
        (addPicture)="addPicture.emit({picture: $event, project: project.id, index: i})"
        (addSkillEvent)="addSkillEvent.emit($event)"
        (update)="update.emit({index: i, key: $event.key, value: $event.value})"
        (removePicture)="removePicture.emit({project: project.id, index: i})"
        (removeSkillEvent)="removeSkillEvent.emit($event)"
        (sendFormGrp)="receiveFormGrp($event, i)">
      </app-project-single-edit>
    </mat-tab>
  </ng-container>
  <mat-tab *ngIf="allowCreationAndDeletion" disabled>
    <ng-template mat-tab-label>
      <button mat-icon-button color="primary" (click)="new.emit()">
        <mat-icon>add</mat-icon>
      </button>
    </ng-template>
  </mat-tab>
</mat-tab-group>