<form [formGroup]="grp">
  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput formControlName="name" required>
    <mat-error *ngIf="!grp.controls['name'].valid && grp.controls['name'].touched">
      {{getNameErr()}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Secteur d'activité</mat-label>
    <input matInput formControlName="activitySector" [matAutocomplete]="auto" required>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let activitySector of filteredActivitySectors | async" [value]="activitySector">
        {{activitySector}}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="!grp.controls['activitySector'].valid && grp.controls['activitySector'].touched">
      {{getActivitySectorErr()}}
    </mat-error>
  </mat-form-field>
</form>