<mat-card>
  <mat-card-content *ngIf="!!mission">
    <mat-tab-group animationDuration="0ms">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>info</mat-icon>
          Informations générales
        </ng-template>
        <app-mission-view-infos [mission]="mission"></app-mission-view-infos>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>view_carousel</mat-icon>
          Projet(s)
        </ng-template>
        <app-mission-view-projects></app-mission-view-projects>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>person</mat-icon>
          Consultant
        </ng-template>
        <app-mission-view-consultant [consultant]="mission.consultant"></app-mission-view-consultant>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>work</mat-icon>
          Client
        </ng-template>
        <app-mission-view-customer [customer]="mission.customer"></app-mission-view-customer>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>