table {
    width: 100%;
}

table:first-child {
  cursor: pointer;
}
    
mat-paginator {
  background: none;
}

::ng-deep.mat-menu-panel {
  max-width: none !important;
}

.element-row:hover {
  background-color: #cfcece;
  cursor: pointer;
}

.element-disabled {
  color: gray;
}

#manager-warning {
  float: left;
}