<div *ngIf="!!dataSource">
  <mat-form-field>
    <mat-label>Rechercher un {{label}}</mat-label>
    <input matInput (keyup)="applyFilter($event)" />
  </mat-form-field>

  <div *ngIf="dataSource.filteredData.length !== 0; then data else noData"></div>

  <ng-template #data>
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort matSortActive="releaseDate" matSortDirection="asc">
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prénom</th>
      <td mat-cell *matCellDef="let user" (click)="onRow(user.id)">
        {{user.firstname}}
      </td>
    </ng-container>
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
      <td mat-cell *matCellDef="let user" (click)="onRow(user.id)">
        {{user.lastname}}
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</th>
      <td mat-cell *matCellDef="let user" (click)="onRow(user.id)">
        {{user.email}}
      </td>
    </ng-container>
    <ng-container matColumnDef="admin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Droits d'administateur</th>
      <td mat-cell *matCellDef="let user" (click)="onRow(user.id)">
        <mat-icon *ngIf="user.admin" color="accent">check</mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="manager">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Manager</th>
      <td mat-cell *matCellDef="let user" (click)="onRow(user.id)">
        <mat-icon id="manager-warning" *ngIf="!!user.manager.releaseDate && !user.releaseDate" color="warn" 
          matTooltip="Ce manager n'est plus actif." matTooltipPosition="right">warning</mat-icon>
        {{user.manager.id === loggedUser ? 'Vous' : user.manager.firstname + ' ' + user.manager.lastname}}
      </td>
    </ng-container>
    <ng-container matColumnDef="releaseDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Statut</th>
      <td mat-cell *matCellDef="let user" (click)="onRow(user.id)">
        <div *ngIf="userIsActive(user); then active else released"></div>
        <ng-template #active>
          Actif{{user.releaseDate ? (' (sortie des effectifs prévue le ' + (user.releaseDate | date:'dd/MM/yyyy') + ')') : ''}}
        </ng-template>
        <ng-template #released>
          Sortie des effectifs le {{ user.releaseDate | date:'dd/MM/yyyy'}}
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
      <td mat-cell *matCellDef="let customer" (click)="onRow(customer.id)">
        {{customer.name}}
      </td>
    </ng-container>
    <ng-container matColumnDef="activitySector">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Secteur d'activité</th>
      <td mat-cell *matCellDef="let customer" (click)="onRow(customer.id)">
        {{customer.activitySector}}
      </td>
    </ng-container>
    <ng-container matColumnDef="missionNb">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre de missions liées</th>
      <td mat-cell *matCellDef="let customer" (click)="onRow(customer.id)">
        {{(!!customer.missions) ? customer.missions.length : 0}}
      </td>
    </ng-container>
    <ng-container matColumnDef="userActions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let user; let index = dataIndex">
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu" xPosition="before">
          <button mat-menu-item (click)="onRow(user.id)">
            <mat-icon>tag</mat-icon>
            <span>Accéder à {{user.id !== loggedUser ? 'sa' : 'votre'}} page personnelle</span>
          </button>
          <div *ngIf="loggedUserIsManager && 
            (user.admin == null || user.id !== loggedUser) &&
            (user.manager == null || user.manager.id === loggedUser)">
            <button mat-menu-item (click)="onSetReleaseDate(index, user)">
              <mat-icon>flag</mat-icon>
              <span>{{user.releaseDate ? 'Modifier' : 'Indiquer'}} date de sortie des effectifs</span>
            </button>
            <button *ngIf="user.admin != null && user.releaseDate == null" mat-menu-item (click)="setAdmin.emit({index: index, manager: user.id, admin: !user.admin})">
              <mat-icon>{{user.admin ? 'undo' : 'redo'}}</mat-icon>
              {{user.admin ? 'Retirer' : 'Octroyer'}} les droits d'administrateur
            </button>
          </div>
        </mat-menu>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay; let index = dataIndex;" class="element-row" [ngClass]="{'element-disabled': !userIsActive(row)}"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" #paginator></mat-paginator>
</ng-template>
<ng-template #noData><p>Aucun {{label}} à afficher.</p></ng-template>
    <button *ngIf="showAdd && loggedUserIsManager" mat-raised-button color="primary" (click)="newElement.emit()">
    <mat-icon class="label-icon">{{columnsToDisplay.includes('activitySector') ? 'add_business' : 'person_add'}}</mat-icon>Ajouter un {{label}}</button>
</div>