.row-mission {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(250, 250, 250, 0.9);
  }
  
  .row-mission:hover {
    background-color: #008BD2;
    color:white;
  }
  
  .row-mission:hover .title-mission {
    color:white;
  }
  
  
  .row-mission div {
    width: calc(100% / 4);
    display: inline-block;
  }
  
  .title-mission{
    color:#043962;
    font-weight: bold;
    padding-left: 20px;
    box-sizing: border-box;
  }
  
  .center{
    text-align: center;
  }
  