<div class="row-mission">
    <div class="title-mission">
      <mat-checkbox>{{mission.title}}</mat-checkbox>
    </div>
    <div><i class="fas fa-user"></i> &nbsp; Consultant</div>
    <div><i class="fas fa-building"></i> &nbsp; {{mission.customer}}</div>
    <div class="center" [ngSwitch]="mission.status">
      <i *ngSwitchCase="1" style="color: red" class="fas fa-times-circle"></i>
      <i *ngSwitchCase="2" style="color: orange" class="fas fa-clock"></i>
      <i *ngSwitchCase="3" style="color: green" class="fas fa-check-circle"></i>
      &nbsp;
      <button mat-icon-button [disabled]="mission.status!=1"><i class="material-icons">delete</i></button>
      <button mat-icon-button (click)="toggleProjects()" [disabled]="projects.length==0">
        <i [ngClass]="{
              'fas':true,
              'fa-chevron-down':!isProjectsVisible,
              'fa-chevron-up':isProjectsVisible
            }"></i>
      </button>
    </div>
  
  </div>
  
  <div [style.display]="isProjectsVisible ? 'block' : 'none'">
    <app-array-project-item *ngFor="let project of projects" [project]="project"></app-array-project-item>
  </div>
  