<div *ngIf="!!customer">
    <table>
        <tr>
            <td *ngIf="!!customer.logo" class="img-td">
                <app-img-box [src]="logoSrc"></app-img-box>
            </td>
            <td>
                <mat-list>
                    <mat-list-item>
                        <h1 matLine>Nom</h1>
                        <p matLine>{{customer[NAME_KEY]}}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <h1 matLine>Secteur d'activité</h1>
                        <p matLine>{{customer[ACTIVITY_SECTOR_KEY]}}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <h1 matLine>Description</h1>
                        <p matLine>{{customer[DESCRIPTION_KEY] || 'Aucune description.'}}</p>
                    </mat-list-item>
                </mat-list>
            </td>
        </tr>
    </table>
</div>