.cplxSrch{
  display: block;
  margin-left: auto;
  margin-right: auto ;
}

.cplxSrch-btn{
  cursor: pointer;
  background-color: white;
  border: 0;
  color: #008BD2;
}

.srch{
  background-color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
}