<div class="srch">
    <div *ngIf="advancedSearchEnabled; then complex else simple"></div>
</div> 
<div class="arrow-down cplxSrch"></div>

<button mat-icon-button (click)="openColsChoice()" style="float: right;">
    <mat-icon>settings</mat-icon>
</button>
<app-array-missions-view *ngIf="!!missions"
    [displayedColumns]="colsToDisp"
    [missions]="missions"
    [showOnlyMineToogle]="true">
</app-array-missions-view>

<ng-template #simple>
    <mat-form-field>
        <mat-label>Chercher une mission</mat-label>
        <input matInput (keyup)="arrayView.applyFilter($event)"
            placeholder="Chercher une mission, une ville, un secteur d'activité...">
    </mat-form-field>
    <button class="cplxSrch cplxSrch-btn" (click)="advancedSearch()">
        <mat-icon>add</mat-icon>
    </button>
</ng-template>

<ng-template #complex>
    <table class="inputable">
        <tr>
            <td><app-missions-title-autocomplete [missions]="missions"></app-missions-title-autocomplete></td>
            <td><app-missions-city-autocomplete [missions]="missions"></app-missions-city-autocomplete></td>
            <td><app-missions-country-autocomplete [missions]="missions"></app-missions-country-autocomplete></td>
        </tr>
        <tr>
            <td>
                <app-consultant-autocomplete 
                    *ngIf="!!consultants" 
                    [consultants]="consultants" 
                    (sendFormCtrl)="this.consultantForm = $event"></app-consultant-autocomplete>
            </td>
            <td><app-missions-customer-autocomplete [missions]="missions"></app-missions-customer-autocomplete></td>
            <td><app-missions-activitysector-autocomplete [missions]="missions"></app-missions-activitysector-autocomplete></td>
        </tr>
        <tr>
            <td colspan="2">
                <app-missions-skills-autocomplete></app-missions-skills-autocomplete>
            </td>
            <td style="text-align: right;">
                <button mat-stroked-button (click)="sendAdvSearch()" color="primary"><mat-icon>search</mat-icon> Rechercher</button>
            </td>
        </tr>
    </table>  
    
    <button class="cplxSrch cplxSrch-btn" (click)="advancedSearch()">
        <mat-icon>remove</mat-icon>
    </button>
</ng-template>