.srch{
  background-color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}

#search-arrow {
 position: relative;
 top: -20px;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

#search-button {
  float: right;
}

#scroll-up {
  position: fixed;
  bottom: 62px;
  right: 20px;
  opacity: 0.75;
}