<div class="srch">
    <div *ngIf="showAdvancedSearch; then complex else simple"></div>
    <button class="cplxSrch cplxSrch-btn" (click)="toggleAdvancedSearch()">
        <mat-icon>{{showAdvancedSearch ? 'remove' : 'add' }}</mat-icon>
    </button>
</div> 
<div class="arrow-down cplxSrch"></div>

<app-array-missions-view *ngIf="!!missions"
    [displayedColumns]="colsToDisp"
    [missions]="missions"
    [showOnlyMineToogle]="true">
</app-array-missions-view>

<ng-template #simple>
    <mat-form-field>
        <mat-label>Chercher une mission</mat-label>
        <input matInput (keyup)="arrayView.applyFilter($event)"
            placeholder="Chercher une mission, une ville, un secteur d'activité...">
    </mat-form-field>

</ng-template>

<ng-template #complex>
    <form [formGroup]="grp">
        <table class="inputable">
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Titre de la mission</mat-label>
                        <input matInput [formControlName]="TITLE_KEY">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Localisation de la mission</mat-label>
                        <input matInput [formControlName]="LOCATION_KEY" placeholder="Ville ou pays où s'est déroulée la mission">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <app-customer-autocomplete 
                        *ngIf="!!customers"
                        [customers]="customers"
                        (sendFormCtrl)="grp.addControl(CUSTOMER_KEY, $event)">
                    </app-customer-autocomplete>
                </td>
                <td><app-missions-activitysector-autocomplete [missions]="missions"></app-missions-activitysector-autocomplete></td>
            </tr>
            <tr>
                <td>
                    <app-consultant-autocomplete 
                        *ngIf="!!consultants" 
                        [consultants]="consultants" 
                        (sendFormCtrl)="grp.addControl(CONSULTANT_KEY, $event)">
                    </app-consultant-autocomplete>
                </td>
                <td>
                <app-missions-skills-autocomplete></app-missions-skills-autocomplete>
            </td></tr>
        </table> 
    </form>
    <button mat-stroked-button (click)="onSearch()" color="primary"><mat-icon>search</mat-icon>Recherche avancée</button>
</ng-template>