<mat-card (keyup.enter)="onSubmit()">
    <mat-card-header>
        <mat-card-title>
            <img src="/assets/img/logo/alten.png" alt="Logo ALTEN">Connexion</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div [formGroup]="grp">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" placeholder="prenom.nom@alten.com" >
              </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                  <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <p *ngIf="isLoginFailed">Les identifiants saisis ne correspondent à aucun compte.</p>
            <mat-card-actions>
                <span matTooltip="Vous devez contacter un administrateur afin d'entamer une procédure de réinitialisation de mot de passe.">Mot de passe oublié ?</span>
                <button mat-raised-button class="blue-shape" type="submit" (click)="onSubmit()">Se connecter</button>
            </mat-card-actions>
          </div>
    </mat-card-content>
</mat-card>