<form class="full-width" >
    <mat-form-field style="width: 100%;" class="full-width">
      <input matInput
             placeholder="Manager"
             aria-label="Manager"
             [matAutocomplete]="auto"
             [formControl]="managerCtrl"
             (keyup.enter)="onSubmit()">
      <mat-hint>Pressez "entrer" pour sauvegarder un manager</mat-hint>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="getManagerSelected">
        <mat-option *ngFor="let manager of filteredManagers | async" [value]="manager">
          <span>{{manager.firstname}} {{manager.lastname}}</span> -
          <i>{{manager.email}}</i>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  
  </form>