<table  cdkDropList (cdkDropListDropped)="onDrop($event)">
    <tr *ngFor="let col of translation; let i = index" cdkDrag cdkDragLockAxis="y" [cdkDragDisabled]="!data.cols.includes(col.name)">
        <td class="placeholder" colspan="2" *cdkDragPlaceholder>{{col.french}}</td>
        <td><mat-checkbox 
            (change)="onColChanged($event,col.name)" 
            [checked]="data.cols.includes(col.name)">
            {{col.french}}</mat-checkbox></td>
        <td *ngIf="data.cols.includes(col.name)" class="handler" cdkDragHandle>
            <mat-icon>{{i == 0 ? 'keyboard_arrow_down' : (i == translation.length -1) ? 'keyboard_arrow_up' : 'unfold_more' }}</mat-icon>
        </td>
        <td *ngIf="!data.cols.includes(col.name)"></td>
    </tr>
</table>
