<table  cdkDropList (cdkDropListDropped)="onDrop($event)">
    <tr *ngFor="let col of translation" cdkDrag cdkDragLockAxis="y">
        <td class="placeholder" colspan="2" *cdkDragPlaceholder>{{col.french}}</td>
        <td><mat-checkbox 
            (change)="onColChanged($event,col.name)" 
            [checked]="data.cols.includes(col.name)">
            {{col.french}}</mat-checkbox></td>
        <td *ngIf="data.cols.includes(col.name)" class="handler" cdkDragHandle><mat-icon>unfold_more</mat-icon></td>
        <td *ngIf="!data.cols.includes(col.name)"></td>
    </tr>
</table>
