.cdk-drag-preview {
    display: none;
}

.handler{
    cursor: grab;
    color: #008BD2;
}

.handler:active{
    cursor: grabbing;
}

.placeholder{
    cursor: grabbing;
    border: 2px dotted #008BD2;
    text-align: center;
}