<mat-tab-group *ngIf="!!mission" animationDuration="0ms" mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>info</mat-icon>
      Informations générales
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>view_carousel</mat-icon>
      Projet(s)
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>person</mat-icon>
      Consultant
    </ng-template>
    <app-consultant-view 
      *ngIf="!writingRights" 
      [consultant]="mission.consultant">
    </app-consultant-view>
    <app-consultant-edit 
      *ngIf="writingRights"
      [consultant]="mission.consultant"
      [inMissionView]="true">
    </app-consultant-edit>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>work</mat-icon>
      Client
    </ng-template>
    <app-customer-view *ngIf="!writingRights" [customer]="mission.customer"></app-customer-view>
    <app-customer-edit *ngIf="writingRights" [customer]="mission.customer"></app-customer-edit>
  </mat-tab>
</mat-tab-group>