<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput
             placeholder="Manager"
             aria-label="Manager"
             [matAutocomplete]="auto"
             [formControl]="managerCtrl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let manager of filteredManagers | async" [value]="manager.id">
          <span>{{manager.firstname}} {{manager.lastname}}</span> |
          <small>{{manager.email}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  
  </form>