<mat-card>
  <mat-card-content>
    <mat-vertical-stepper linear="true" (selectionChange)="onStepChange($event)" (keyup.enter)="onEnter(stepper)" #stepper>
      <mat-step [stepControl]="consultantForm" label="Consultant" state="consultant">
        <div *ngIf="newConsultant; then newConsultantForm else consultantsList"></div>
      </mat-step>
      <mat-step [stepControl]="customerForm" label="Client" state="customer">
        <div *ngIf="newCustomer; then newCustomerForm else customersList"></div>
      </mat-step>
        <mat-step label="Créer la mission" state="mission">
        </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>

<ng-template #newConsultantForm>
  <app-new-user (sendFormGrp)="getConsultantForm($event)"></app-new-user>
</ng-template>

<ng-template #consultantsList>
  <app-consultant-autocomplete *ngIf="!!consultants"
    [consultants]="consultants"
    [canCreateNew]="true"
    [required]="true"
    (sendFormCtrl)="getConsultantForm($event)"
    (newConsultant)="newConsultant = true"
    #consultantAutocomplete>
  </app-consultant-autocomplete>
</ng-template>

<ng-template #newCustomerForm>
  <app-new-customer [customers]="customers" (sendFormGrp)="getCustomerForm($event)"></app-new-customer>
</ng-template>

<ng-template #customersList>
  <app-customer-autocomplete *ngIf="!!customers"
    [customers]="customers"
    [canCreateNew]="true"
    [required]="true"
    (sendFormCtrl)="getCustomerForm($event)"
    (newCustomer)="newCustomer = true">
  </app-customer-autocomplete>
</ng-template>