<mat-card>
  <mat-card-content>
    <mat-vertical-stepper linear="true" (selectionChange)="onStepChange($event)" #stepper>
      <mat-step [stepControl]="consultantForm" label="Consultant" state="consultant">
          <app-consultant-autocomplete *ngIf="!newConsultant"
          [canCreateNew]="true"
          (sendFormCtrl)="getConsultantForm($event)"
          (newConsultant)="newConsultant = true"
          #consultantAutocomplete>
          </app-consultant-autocomplete>
          <app-new-consultant *ngIf="newConsultant" (sendFormGrp)="getConsultantForm($event)"></app-new-consultant>
      </mat-step>
      <ng-template matStepperIcon="consultant">
        <mat-icon>person</mat-icon>
      </ng-template>
      <mat-step [stepControl]="customerForm" label="Client" state="customer">
          <app-customer-autocomplete *ngIf="!newCustomer"
          [customers]="customers"
          [canCreateNew]="true"
          (sendFormCtrl)="getCustomerForm($event)"
          (newCustomer)="newCustomer = true">
          </app-customer-autocomplete>
          <app-new-customer *ngIf="newCustomer" [customers]="customers" (sendFormGrp)="getCustomerForm($event)"></app-new-customer>
      </mat-step>
      <ng-template matStepperIcon="customer">
        <mat-icon>business_center</mat-icon>
      </ng-template>
        <mat-step label="Créer la mission" state="mission">
        </mat-step>
      <ng-template matStepperIcon="mission">
        <mat-icon>post_add</mat-icon>
      </ng-template>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>