<mat-card class="example-card">
    <form [formGroup]="recruitmentOfficerForm" (ngSubmit)="onSaveRecruitmentOfficer()">
    <mat-card-header>
        <mat-card-title>Création d'un nouveau CDR</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field appearance="legacy">
            <mat-label>Prénom *</mat-label>
            <input matInput placeholder="Prénom"
                   formControlName="firstname">
            <mat-error *ngIf="recruitmentOfficerForm.controls['firstname'].hasError('required')">
                    Un prénom est requis.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Nom *</mat-label>
            <input matInput placeholder="Nom"
                   formControlName="lastname">
            <mat-error *ngIf="recruitmentOfficerForm.controls['lastname'].hasError('required')">
                    Un nom est requis.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Email *</mat-label>
            <input matInput placeholder="Email"
                   formControlName="email">
            <mat-error *ngIf="!recruitmentOfficerForm.controls['email'].hasError('required') && 
                              (recruitmentOfficerForm.controls['email'].hasError('email') || 
                              recruitmentOfficerForm.controls['email'].hasError('badDomain') )">
                    La forme de l'adresse mail est erronée.
            </mat-error>
            <mat-error *ngIf="recruitmentOfficerForm.controls['email'].hasError('required')">
                    Une adresse mail est requise.
            </mat-error>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="recruitmentOfficerForm.invalid">Enregistrer le nouveau CDR</button>
    </mat-card-actions>
    </form>
</mat-card>
  
    
  