<mat-card>
  <mat-tab-group *ngIf="!!customer" animationDuration="0ms" mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        {{customer.name}}
      </ng-template>
      <div *ngIf="manager; then edit else view"></div>
    </mat-tab>
    <mat-tab *ngIf="customersMissions?.length !== 0">
      <ng-template mat-tab-label>
        Missions liées
      </ng-template>
      <mat-form-field>
        <mat-label>Rechercher</mat-label>
        <input matInput (keyup)="arrayView.applyFilter($event)">
      </mat-form-field>
      <app-array-missions-view *ngIf="customersMissions" 
        [missions]="customersMissions" [showOnlyMineToogle]="manager"
        [displayedColumns]="['select','title', 'consultant', 'city', 'manager']">
      </app-array-missions-view>
    </mat-tab>
  </mat-tab-group>
  <mat-card-actions>
      <button mat-button color="warn" *ngIf="manager && customersMissions?.length === 0"
        (click)="onDelete()">Supprimer ce client en base</button>
  </mat-card-actions>
</mat-card>

<ng-template #edit>
  <app-customer-edit [customer]="customer"></app-customer-edit>
</ng-template>

<ng-template #view>
  <app-customer-view [customer]="customer"></app-customer-view>
</ng-template>