<mat-form-field>
    <mat-chip-list #chipList aria-label="Skills selection">
      <mat-chip *ngFor="let skill of project.skills"
               [removable]="true" (removed)="remove(skill)">
        {{skill.label}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input #fruitInput
        placeholder="Compétences liées au projet"
        [formControl]="skillCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill.label">
          {{skill.label}}
        </mat-option>
      </mat-autocomplete>
      <mat-icon matSuffix *ngIf="externalVersion" color="primary"
        matTooltip="Compétences (technologies, méthodologies, etc...) liées à ce projet."
        matTooltipPosition="before">help_outline</mat-icon>
    <mat-hint align="end">{{project.skills.length}}/10</mat-hint>
  </mat-form-field>
  