<mat-form-field>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip *ngFor="let skill of project.skills" [selectable]="selectable"
               [removable]="removable" (removed)="remove(skill)">
        {{skill.label}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input #fruitInput placeholder="Ecrivez ici les compétences nécessaires de ce projet"
             [formControl]="skillCtrl"
             [matAutocomplete]="auto"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill.label">
          {{skill.label}}
        </mat-option>
      </mat-autocomplete>
  </mat-form-field>
  