<div *ngIf="!!project">
<form [formGroup]="grp">
    <table class="inputable">
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label>Titre</mat-label>
                    <input matInput type="text" [formControlName]="TITLE_KEY" (change)="onChange(TITLE_KEY)">
                </mat-form-field>
            </td>
            <td rowspan="3"><img style="margin-left: auto; margin-right: auto;" height="400px" [src]="srcPic" alt="Image"></td>
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea matInput maxlength="1000" type="text" [formControlName]="DESCRIPTION_KEY" (change)="onChange(DESCRIPTION_KEY)"></textarea>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field>
                    <mat-label>Début</mat-label>
                    <input matInput type="date" [formControlName]="BEGIN_KEY" (blur)="onChange(BEGIN_KEY)">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                    <mat-label>Fin</mat-label>
                    <input matInput type="date" [formControlName]="END_KEY" (blur)="onChange(END_KEY)">
                </mat-form-field>
            </td>
        </tr>
    </table>
</form>
<label class="file-upload" (change)="selectFile($event)">
    <input type="file" accept="image/*" style="display: none;">
    {{currentFileRealName}}
</label>
<button mat-button [disabled]="!selectedFiles" (click)="upload()">Charger le fichier</button>
<br>

<br>
<button color="warn"  mat-button (click)="onDelete()">Supprimer ce projet</button>
</div>
