<form [formGroup]="projectForm">
    <mat-form-field style="width: 100%;">
        <mat-label>Titre</mat-label>
        <input matInput type="text" formControlName="title" (blur)="updateProject('title')" (keyup.enter)="updateProject('title')">
    </mat-form-field><br>
    <mat-form-field style="width: 100%;">
        <mat-label>Description</mat-label>
        <textarea matInput maxlength="1000" type="text" formControlName="description" (blur)="updateProject('description')"
        (keyup.enter)="updateProject('description')"></textarea>
    </mat-form-field><br>
    <mat-form-field style="width: 100%;">
        <mat-label>Début</mat-label>
        <input matInput type="date" formControlName="beginDate" (blur)="updateProject('beginDate')"
        (keyup.enter)="updateProject('beginDate')">
    </mat-form-field><br>
    <mat-form-field style="width: 100%;">
        <mat-label>Fin</mat-label>
        <input matInput type="date" formControlName="endDate" (blur)="updateProject('endDate')"
        (keyup.enter)="updateProject('endDate')">
    </mat-form-field>
</form>
