<form [formGroup]="projectForm">
    <mat-form-field style="width: 100%;">
        <mat-label>Description</mat-label>
        <textarea matInput type="text" formControlName="description"></textarea>
    </mat-form-field><br>
    <mat-form-field style="width: 100%;">
        <mat-label>Début</mat-label>
        <input matInput type="date" formControlName="beginDate">
    </mat-form-field><br>
    <mat-form-field style="width: 100%;">
        <mat-label>Fin</mat-label>
        <input matInput type="date" formControlName="endDate">
    </mat-form-field>
    <button mat-icon-button color=""><mat-icon>done</mat-icon></button>
</form>
