@import url(https://fonts.googleapis.com/css?family=Raleway);
@import 'src/vars';

.blue-shape {
    background-image: url(src/assets/img/shape-background/blue.png);
    background-position: center;
    background-repeat: no-repeat;
}

.blue-shape * {
    color: white;
}

.white-shape {
    background-image: url(src/assets/img/shape-background/white.png);
    background-position: center;
    background-repeat: no-repeat;
}

.white-shape * {
    color: $usual-primary-blue;
}

body * {
    font-family: Raleway, Arial, sans-serif;
}

.inputable {
    width: 100%;
    border-spacing: 20px;
}

html, body {
    height: 100%;
    margin: 0;
    width: 100%;
    background-color: rgb(240, 243, 246);
}

.contours{
    border: gainsboro 1px solid;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.contours-margin{
    border: transparent 1px solid;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    padding-left: 20px;
    box-shadow: 0px 0px 5px 1px gainsboro;
}

.file-upload {
    border-bottom: 1px solid grey;
    color: grey;
    padding: 5px;
    cursor: pointer;
}

mat-form-field {
    display: block !important;
}

mat-panel-title span{
    margin-right: 15px;
    font-weight: bolder;
    color:#043962;
}

.app-container {
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
    padding: 16px 32px;
}

footer {
    flex-shrink: 0;
    background-color: $usual-primary-blue;
    color: white;
    line-height: 14px;
    padding-top: 16px;
 }

 footer p {
     margin : 0;
     text-align: center;
 }

 .flex-column-container, .flex-row-container {
    display: flex;
 }

 .flex-column-container {
    flex-direction: column;
    height: 100%;
 }

 .flex-row-container {
    flex-direction: row;
    width: 100%;
 }

 mat-dialog-actions {
     float: right;
 }

 .img-container{
        position: relative;
        text-align: center;
        color: white;
 }

 .centered {
    background-color: black;
    color: white;
    padding: 10px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
  }

  .img:hover{
    opacity: 0.2;
  }

  .img:hover + .centered, .centered:hover{
    cursor: pointer;
    display: inline-block;
  }

  .label-icon {
    margin-right: 8px;
  }

  mat-radio-button {
      padding-left: 16px;
  }