@import '~@angular/material/theming';

$md-primary: (
    50 : #e0f1fa,
    100 : #b3dcf2,
    200 : #80c5e9,
    300 : #4daee0,
    400 : #269cd9,
    500 : #008bd2,
    600 : #0083cd,
    700 : #0078c7,
    800 : #006ec1,
    900 : #005bb6,
    A100 : #dfedff,
    A200 : #acd0ff,
    A400 : #79b3ff,
    A700 : #5fa5ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent: (
    50 : #fff7e0,
    100 : #ffeab3,
    200 : #ffdd80,
    300 : #ffcf4d,
    400 : #ffc426,
    500 : #ffba00,
    600 : #ffb300,
    700 : #ffab00,
    800 : #ffa300,
    900 : #ff9400,
    A100 : #ffffff,
    A200 : #fff9f2,
    A400 : #ffe1bf,
    A700 : #ffd5a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-warn: (
    50 : #fce1e3,
    100 : #f7b4b8,
    200 : #f18289,
    300 : #eb505a,
    400 : #e72b36,
    500 : #e30513,
    600 : #e00411,
    700 : #dc040e,
    800 : #d8030b,
    900 : #d00106,
    A100 : #fff8f8,
    A200 : #ffc5c6,
    A400 : #ff9293,
    A700 : #ff7979,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

@include mat-core();
$myProject-primary: mat-palette($md-primary);
$myProject-accent: mat-palette($md-accent, 500, A100, A400);
$myProject-warn: mat-palette($md-warn);
$myProject-foreground: mat-palette($md-primary);
$myProject-theme: mat-light-theme($myProject-primary, $myProject-accent, $myProject-warn);
@include angular-material-theme($myProject-theme);