<form [formGroup]="grp">
  <table class="inputable">
    <tr><td><mat-form-field>
      <mat-label>Nom du client</mat-label>
      <input matInput [formControlName]="NAME_KEY" required>
      <mat-error>
        {{getErrorText()}}
      </mat-error>
    </mat-form-field></td></tr>
    <tr><td>
      <app-activity-sector-autocomplete 
        [customers]="customers"
        [required]="true"
        (sendFormCtrl)="grp.addControl(ACTIVITY_SECTOR_KEY, $event)">
    </app-activity-sector-autocomplete>
    </td></tr>
  </table>
</form>