  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
    width:100%;
    margin-top: 20px;
  }
  
  table {
    width: 100%;
  }
  
  .element-row {
    position: relative;
  }
  
  .element-row:not(.expanded) {
    cursor: pointer;
  }
  
  .element-row:not(.expanded):hover {
    background: lightgrey;
  }
  
  .element-row.expanded {
    border-bottom-color: transparent;
  }

  .mat-column-select {
    flex: 0 0 3% !important;
    width: 0% !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    
  }

  .example-element-row:not(.example-expanded-row):hover {
      background: #777;
  }
  
  .pdfButton{
    float: left;
    margin-top: 10px;
  }

  mat-paginator {
    background: none;
  }

  .project{
    padding-left: 10px;
    padding-right: 10px;
    color: #008BD2;
    font-weight: bold;
  }

  .skills{
    padding-left: 10px;
    padding-right: 10px;
    color: #8C8C9A;
  }