<button mat-icon-button (click)="openColsChoice()" title="Selectionner les colonnes à afficher" id="columnChoice">
    <mat-icon>settings</mat-icon>
</button>
<mat-slide-toggle *ngIf="showOnlyMineToogle && userIsManager"
    (click)="refreshDatasource(true)" [(ngModel)]="onlyMine">
    Afficher uniquement les missions de mes consultants
</mat-slide-toggle>
<mat-table #table [dataSource]="dataSource" matSort id="tableau">
    <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
            <mat-checkbox
            *ngIf="getNbCheckableRow() <= NB_MAX_CHECK && getNbCheckableRow() != 0"
                (change)="$event ? masterToggle() : null"
                [checked]="selection.selected.length === getNbCheckableRow()"
                [indeterminate]="selection.selected.length !== 0 && selection.selected.length < getNbCheckableRow()">
            </mat-checkbox>
        </mat-header-cell>

        <mat-cell *matCellDef="let mission">
            <mat-checkbox *ngIf="(mission.sheetStatus == null || mission.sheetStatus === 'VALIDATED') && (selection.selected.length < NB_MAX_CHECK || selection.isSelected(mission))"
                (click)="$event.stopPropagation() || onClick($event,mission)"
                (change)="$event ? selection.toggle(mission) : null" [checked]="selection.isSelected(mission)">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Titre de la mission </mat-header-cell>
        <mat-cell *matCellDef="let mission"> {{mission.lastVersion.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="consultant">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Consultant </mat-header-cell>
        <mat-cell *matCellDef="let mission"> {{mission.consultant.firstname}} {{mission.consultant.lastname}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="customer">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Client </mat-header-cell>
        <mat-cell *matCellDef="let mission"> {{mission.customer.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ville </mat-header-cell>
        <mat-cell *matCellDef="let mission"> {{mission.lastVersion.city}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Pays </mat-header-cell>
        <mat-cell *matCellDef="let mission"> {{mission.lastVersion.country}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="manager">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Manager </mat-header-cell>
        <mat-cell *matCellDef="let mission">
            {{(mission.consultant.manager.id === user.id) ? 'Vous' : 
            mission.consultant.manager.firstname + ' ' + mission.consultant.manager.lastname}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="numberOfProjects">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de projets </mat-header-cell>
        <mat-cell *matCellDef="let mission">
            <i *ngIf="mission.lastVersion.projects?.length > 0">{{mission.lastVersion.projects?.length}}</i>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sheetStatus">
        <mat-header-cell *matHeaderCellDef>{{ userIsManager ? 'Statut de la fiche' : 'Voir détails'}}</mat-header-cell>
        <mat-cell *matCellDef="let mission" [ngSwitch]="mission.sheetStatus">
            <div *ngIf="userIsManager">
                <mat-icon *ngSwitchCase="'ON_WAITING'" style="color: red" 
                    matTooltip="En attente">close</mat-icon>
                <mat-icon *ngSwitchCase="'ON_GOING'" style="color: orange"
                    matTooltip="En cours de validation">done</mat-icon>
                <mat-icon *ngSwitchCase="'VALIDATED'" style="color: green"
                    matTooltip="Validée">done_all</mat-icon>
            </div>
            <button mat-icon-button [routerLink]="['/missions', mission.id]">
                <mat-icon matTooltip="Voir les détails">more_horiz</mat-icon>
            </button>

        </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [cdkDetailRow]="row"
        [cdkDetailRowTpl]="tpl">
    </mat-row>

</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" #paginator> </mat-paginator>

<ng-template #tpl let-element>
    <div class="mat-row detail-row" [@detailExpand] style="overflow: hidden">
        <div class="contours-margin" *ngIf="element?.lastVersion?.projects">
            <div *ngFor="let project of element.lastVersion.projects; let i = index">
                <mat-checkbox *ngIf="selection.isSelected(project) || ((element.sheetStatus == null || element.sheetStatus === 'VALIDATED') && selection.selected.length < NB_MAX_CHECK)"
                    (click)="$event.stopPropagation() || onClick($event,project)"
                    (change)="$event ? selection.toggle(project) : null" [checked]="selection.isSelected(project)">
                </mat-checkbox>
                <span class="project">{{project.title || 'Projet n°' + (i + 1)}}</span>
                <small>
                    {{project.beginDate | date:'dd/MM/yyyy - '}}{{project.endDate | date:'dd/MM/yyyy'}}
                </small>
                <span class="skills">
                    <small *ngFor="let skill of project.skills, let j = index">
                        <span *ngIf="j!=0"> / </span>{{skill.label}}
                    </small>
                </span>
                
            </div>
        </div>
        <div class="contours-margin" *ngIf="!element.lastVersion.projects">
            Aucun projets.
        </div>
    </div>
</ng-template>
<p *ngIf="this.selection.selected.length >= NB_MAX_CHECK" style="color: red">Vous ne pouvez pas sélectionner plus de {{NB_MAX_CHECK}} mission(s) et/ou projet(s).</p>
<button mat-raised-button 
    *ngIf="this.selection.selected.length > 0"
    class="pdfButton" color="primary"
    [matBadge]="selection.selected.length"
    [matBadgeColor]="selection.selected.length >= NB_MAX_CHECK ? 'warn' : 'accent'"
    (click)="onChooseFilenameDialog(this.selection.selected)" >
    Générer book PDF
</button>