<mat-slide-toggle (click)="showOnlyMyMissions()" *ngIf="userIsManagerInclude" [checked]="true">Afficher uniquement mes
    missions. </mat-slide-toggle>&nbsp;&nbsp;
<mat-slide-toggle (click)="showOnlyMyValidatedMissions()" *ngIf="userIsManagerInclude&&onlyMyMissionsChecked"
    [checked]="false">Cacher mes missions validées </mat-slide-toggle>

<mat-table #table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->


    <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [disabled]="onlyMyMissionsChecked==false">
            </mat-checkbox>
        </mat-header-cell>
        <mat-header-cell *matCellDef="let row; let element">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
            </mat-checkbox>
        </mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Titre de la mission </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastVersion.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="consultant">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Consultant </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.consultant.firstname}} {{element.consultant.lastname}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="customer">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Client </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.customer.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ville </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastVersion.city}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="manager">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Manager </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.consultant.manager.firstname}}
            {{element.consultant.manager.lastname}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="numberOfProjects">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de projets </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <i *ngIf="element.lastVersion.projects?.length>0">{{element.lastVersion.projects?.length}}</i>
            <i *ngIf="element.lastVersion.projects?.length==null">Aucun</i>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sheetStatus">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-header-cell *matCellDef="let element" [ngSwitch]="element.sheetStatus">
            <mat-icon *ngSwitchCase="'ON_WAITING'" style="color: red" matTooltip="Fiche en attente">
                cancel
            </mat-icon>
            <mat-icon *ngSwitchCase="'ON_GOING'" style="color: orange" matTooltip="Fiche en cours de validation">
                watch_later
            </mat-icon>
            <mat-icon *ngSwitchCase="'VALIDATED'" style="color: green" matTooltip="Fiche validée">
                check_circle
            </mat-icon>
            &nbsp;

            <button mat-icon-button [routerLink]="['/missions', element.id]">
                <mat-icon matTooltip="Voir plus">more_horiz</mat-icon>
            </button>&nbsp;


            <button mat-icon-button color="warn"
                *ngIf="(element.versions?.length==null&&element.lastVersion.versionDate==null&&element.consultant.manager.id==this.user.id&&element.sheetStatus=='ON_WAITING')">
                <span class="material-icons" matTooltip="Supprimer la mission en attente"
                    (click)="openDeleteDialog(element)">delete</span>
            </button>



        </mat-header-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [cdkDetailRow]="row"
        [cdkDetailRowTpl]="tpl">
    </mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

<ng-template #tpl let-element>
    <div class="mat-row detail-row" [@detailExpand] style="overflow: hidden">

        <mat-table [dataSource]="element.lastVersion.projects" class="mat-elevation-z8">
            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-header-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </mat-header-cell>
            </ng-container>
            <ng-container matColumnDef="project-name">
                <mat-header-cell *matHeaderCellDef> Titre du projet </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="project-description">
                <mat-header-cell *matHeaderCellDef> Description du projet </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="innerDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: innerDisplayedColumns;"
                [class.example-element-row]="element?.lastVersion.projects.length"
                (click)="element?.lastVersion.projects.length>0&&selection.toggle(row)"></mat-row>
        </mat-table>
    </div>
</ng-template>