.center {
    text-align: center;
    padding:10px;
}

.center div{
    vertical-align: middle;
}

.yellow-rounded-button{
    text-align: center;
    color: #ffba00;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border:none;
    text-shadow: 0 0 3px grey;
}

.yellow-rounded-button:hover{
    cursor: pointer;
    color: #008bd2;
}

.active{
    color: #008bd2;
}

.plus{
    text-align: center;
    color: #ffba00;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border:none;
}