<div class="right">
        <button class="paginator-button" (click)="onPrevious()" [class.disabled]="currentIndex<=0">
            <mat-icon>
                navigate_before
            </mat-icon>
        </button>
        <button class="paginator-button" (click)="onNext()" [class.disabled]="currentIndex >= projects.length-1">
            <mat-icon>
                navigate_next
            </mat-icon>
        </button>
        <button *ngIf="optionAdd" class="paginator-button" (click)="onAdd()">
            <mat-icon>add</mat-icon>
        </button>
</div>