.center {
    text-align: center;
    padding:10px;
}

.center div{
    vertical-align: middle;
}

.yellow-rounded-button{
    text-align: center;
    color: #ffba00;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border:none;
    
}

mat-icon{
    font-size: xx-large
}

.yellow-rounded-button:hover{
    cursor: pointer;
    color: #008bd2;
}

.disabled, .disabled:hover{
    pointer-events: none;
    color: gray;
}