table{
    width: 100%
}

td,th, .icon{
    vertical-align: middle;
  }

  
  .example-element-row td,p {
    border-bottom-width: 0;
  }
   
  .element-disabled{
    color: gray;
  }
  
  mat-header-row {
    height: 1px; border: none }
 