table{
    width: 100%
}

td,th, .icon{
    vertical-align: middle;
  }

  
  .example-element-row td,p {
    border-bottom-width: 0;
  }
   
  .element-disabled{
    color: gray;
  }
  
 button.verrou{
   float: left;;
 }
 
 