<mat-form-field appearance="legacy">
    <mat-label>Chercher un manager</mat-label>
    <input matInput placeholder="Chercher un manager" (keyup)="applyFilter($event)" />
</mat-form-field>

<br>
<br>

<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort matSortActive="releaseDate" matSortDirection="asc">
    <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
        <td mat-cell *matCellDef="let element" [class.element-disabled]="element.releaseDate==='Inactif'">
          {{element.firstname}}
        </td>
      </ng-container>
    
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
        <td mat-cell *matCellDef="let element" [class.element-disabled]="element.releaseDate==='Inactif'">
          {{element.lastname}}
        </td>
      </ng-container>
    
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
        <td mat-cell *matCellDef="let element" [class.element-disabled]="element.releaseDate==='Inactif'">
          {{element.email}}
        </td>
      </ng-container>
      
      <ng-container matColumnDef="releaseDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut </th>
        <td mat-cell *matCellDef="let element" [class.element-disabled]="element.releaseDate==='Inactif'">
          {{ element.releaseDate }}
        </td>
      </ng-container>

  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element" [class.element-disabled]="element.releaseDate==='Inactif'">
          <button matTooltip="Voir plus de {{element.firstname}} {{element.lastname}}" mat-icon-button [routerLink]="[element.id]"
                  [disabled]="element.releaseDate==='Inactif'">
            <mat-icon>more_horiz</mat-icon>
          </button>&nbsp;
          <button matTooltip="Suppression de {{element.firstname}} {{element.lastname}}" mat-icon-button (click)="openDialogDelete(element)">
            <mat-icon>delete</mat-icon>
          </button>&nbsp;
          
        </td>
      </ng-container>

      <ng-container matColumnDef="admin">
        <th mat-header-cell *matHeaderCellDef> Administrateur </th>
        <td mat-cell *matCellDef="let element" [class.element-disabled]="element.releaseDate==='Inactif'">
            <mat-slide-toggle [checked]="element.admin" 
                              [disabled]="user.id==element.id || element.releaseDate==='Inactif'"
                              (click)="user.id!=element.id && element.releaseDate==='Actif' && changeAdmin(element)" >Admin</mat-slide-toggle>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay"></tr>
    
    
</table>



<mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" style="background-color: transparent;"></mat-paginator>
<div>
    <button mat-raised-button color="primary" (click)="goToCreateNewManager()">Ajouter un manager</button>
</div>